<!-- 
<mat-card class="example-card" *ngFor="let movie of listMovies">
    <img mat-card-image src={{movie.photo}} alt="">
    <mat-card-title>{{movie.name}}</mat-card-title>
    <mat-card-subtitle>{{ movie.releaseDate }} {{ movie.ticketPrice }}</mat-card-subtitle>
    <mat-card-content>
        <p>
           {{ movie.description }}
        </p>
        <h5 *ngFor="let genre of movie.genre">{{ genre }}</h5>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions>
        <mat-form-field appearence = "outline">
            <mat-label>comment</mat-label>
            <input type="comment" matInput [formControl]="comment"/>
        </mat-form-field>
        <button mat-button> Submit </button>
    </mat-card-actions>
    <mat-divider></mat-divider>

    <mat-card-footer>
        <P class="comments-body">Comment body</P>
    </mat-card-footer>
</mat-card>
 -->
